$c-blue: #2c3e50;
$c-dark: #0e2e41;
$c-light: #008eb0;


body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #2E2E30;
}
.container {
  max-width:98%;
}

h1, h2 {
  font-family: 'Oswald', sans-serif;
}
.jumbotron {
  text-align: center;
  padding-top: 6rem;
}
thead {
  background-color: $c-dark;
  color: #fff;
}
th {
  font-weight: 400;
}
.table-hover tbody tr:hover td {
  background-color: #e2e2e2;
}
a {
  color: $c-light;

  &:hover {
    color: $c-dark;
    text-decoration: none
  }
}

.red {
  color: red;
}
.green {
  color: limegreen;
}

.result-container {
  padding: 15px 0;
}



// NEW STYLES
.section {
  border: 1px solid $c-blue;
  margin-bottom: 2rem;
}
.section-header {
  background: #e9ecef;
  padding: 1rem;
  color: $c-dark;
  border-bottom: 1px solid $c-blue;
}
.section-contents {
  display: flex;
  padding: 1rem;
  justify-content: flex-start;

  * {
    flex: 1;
  }
}

.stats {
}


/* adds external link icon */
a[target='_blank']::after {
  content: '\29C9';
}
/* not in the nav though */
.dropdown-item, .nav-item {
  a[target='_blank']::after {
    display: none;
  }
}
/* css toggle for link tables */
h3 {
  font-size: 1.2rem;
}
h3 + table {
  display: none;
}
h3.activeTable {
  & + table {
    display: table;
  }
}
